html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
	font-family: 'Courier New';
}
body {
	background: url(../images/grey-sandstone-dark.png) repeat;
}
a:link, a:visited {
	color: #fff;
}
a:hover {
	color: #aaa;
}
#map {
  padding: 0;
  margin: 5px auto 0 auto;
  width: 950px;
  height: 550px;
  border: 5px solid black;
  background-color: black;
}
.map-tile {
  opacity:0;
}
.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.2s;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header {
  font-family: 'Courier New';
  color: #bbb;
  width: 100%;
  text-align: center;
}

.subheading {
  font-size: 14px;
  color: #666;
}

#meta {
  font-size: 12px;
  text-align: center;
  color: #ddd;
}

.orange { color: #ff7e3d; }
.blue { color: #0af; }
.shadow {
  -moz-box-shadow: 0 0 10px 3px #111;
  -webkit-box-shadow: 0 0 10px 3px #111;
}
